@import "modern-normalize";

@font-face {
    font-family: Norse;
    src: url(Resources/Fonts/Norse-Bold.otf);
}

:root {
  line-height: 1.5;
}

body, h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

#mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;
    height: 100vh;
    align-items: center;
}

#headerDiv{
    background-image: url("Resources/Images/halie-west-25xggax4bSA-unsplash.jpg");
    max-width: 30%;
    min-width: 30%;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}

#logoDiv{
    background: rgb(0, 0 ,0 , 60%);
    max-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: norse, sans-serif;
    color: white;
    font-size: 80px;
    gap: 5px;
    margin-bottom: 400px;
}

#logo{
    max-height: 80%;
}

#footerDiv{
    position: absolute;
    bottom: 0px;
    color:  white;
    font-size: 13px;
}

a{
    color:white;
}