@font-face {
    font-family: Norse;
    src: url(Resources/Fonts/Norse-Bold.otf);
}

:root {
  line-height: 1.5;
}

body, h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

#mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;
    height: 100vh;
    align-items: center;
}

#headerDiv{
    background-image: url("Resources/Images/halie-west-25xggax4bSA-unsplash.jpg");
    max-width: 30%;
    min-width: 30%;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}

#logoDiv{
    background: rgb(0, 0 ,0 , 60%);
    max-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: norse, sans-serif;
    color: white;
    font-size: 80px;
    gap: 5px;
    margin-bottom: 400px;
}

#logo{
    max-height: 80%;
}

#footerDiv{
    position: absolute;
    bottom: 0px;
    color:  white;
    font-size: 13px;
}

a{
    color:white;
}

#bodyDiv{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    height: 100vh;
}

#textDiv>p, #formDiv>p{
    font-weight: 550;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

#formDiv>p{
    margin-bottom: 15px;
}

.mainContainer{
    display: flex;
    gap: 70px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label{
    font-size: 10px;
    color: rgb(48, 48, 48);
    font-family: 'Arial Narrow';
    font-weight: bold;
    letter-spacing: 2px;
}

input{
    width: 20em;
    height: 1.5em;
    border-radius: 5px;
    box-shadow: none;     
    border: 1px solid #E5E7EB;
}

input:focus{
    outline: 1.5px solid #2f00ff;
    box-shadow: 0px 2px 2px #a8a8a8;
}

input:invalid{
    outline: 1.5px solid #ff0000;
}